<%layout('/layouts/boilerplate')%>
<div class='row'>
    <div class='col-6 offset-3'>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <!-- Keep the err.stack for dev purposes
            When deploying we'll remove and replace it with a 
        nice illustration -->
            <p><% err.stack%> </p>
        </div>
    </div>
</div>